<ul id=links>
  <% @links.each do |link| %>
    <li>
      <form action='/tags/<%="#{link.id}"%>/new_tag' method='post' id='<%= link.title %>'>
        Link: <a href='<%= link.url %>' target='_blank'><%= link.title %></a> <%= link.tags.inject("") { |sum,tag| sum << "#{tag.name} " } %>
        <input type='text' name='new_tag' />
        <input type='submit' value='Add Tag' />
      </form>
    </li>
  <%end%>
</ul>
